@using MonsterMVC.Domain.Data
@{
    ViewBag.Title = "Home Page";
}

<div class="Monster Manager">
   
</div>

<div class="row main-page">
    <div class="home-tile">
        <h2>Getting started</h2>
        <p>
            Start a new encounter.
        </p>
        <div style="display: flex; justify-content: space-around;">
        @using (Html.BeginForm("Create", "Encounters", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" style="margin: 0 auto;">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div style="margin: 0 auto;">
                        <input type="submit" value="Create Empty" class="btn btn-default home-button" />
                    </div>
                </div>
            </div>
        }
            <div>
                <a href="Encounters/CreateFromRandom">  <input type="submit" value="Create Random" class="btn btn-default home-button" href="CreateFromRandom.cshtml" /></a>
            </div>
        </div>
            @*@using (Html.BeginForm("Index", "Encounters", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div style="margin: 0 auto;">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }*@
        </div>
        <div class="home-tile">
            <h2>Continue Encounter</h2>
            @using (Html.BeginForm("Details", "Encounters", FormMethod.Get))
            {

                <div class="form-horizontal" style="display: flex; justify-content: space-around;">
                    <input type="number" name="Id" style="height: 41px;" value="Id" />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div style="margin: 0 auto;">
                            <input type="submit" value="Resume Encounter" class="btn btn-default home-button" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>