@model MonsterMVC.Domain.Data.EncounterParam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EncounterParam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AverageLvl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AverageLvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMonsters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMonsters)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
