@model MonsterMVC.Domain.Data.Encounter


@{
	ViewBag.Title = "Details";
}

<h2>Details @Model.Id</h2>

<div id="partial">
    @{
        Html.RenderAction("SearchMonsters", "MonsterDataModels", new { searchBy = "monsterName", search = "Acolyte" });
    }
</div>
<div>
    <h4>Encounter</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
</div>
<div>
	@{ Html.RenderPartial("_DiceRoller"); }
</div>

<table id="monsterPartials">
    @{int i;}
    @{int j = 1;}

    @foreach (var item in Model.ActiveMonsters)
    {

            <tr id="monsterPartial@(j)">
                @{ Html.RenderPartial("_HealthForm", item); }
            </tr>
        @(j++)
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script>
            var list = [];
            $(document).ready(function () {
                @(i = item.MonsterId)
                var search = @(i);

                var url = "@Html.Raw(Url.Action("GetMonster", "Monster", new {id = "urlId"}))";

                url = url.replace("urlId", search);

                if (jQuery.inArray(@(i), list) === -1) {
                    $.get(url, function(data){
                        $('#MonsterCards').append(data);
                    });
                }
                list.push(@(i));
                console.log(list.length);
            });
        </script>
    }
</table>
<div id="MonsterCards">

</div>