@model MonsterMVC.Domain.Data.ActiveMonster

<td>
    @Html.DisplayFor(model => model.Monster.Name)
</td>
<td>
    @Html.DisplayFor(model => model.HealthPoints)
</td>
            
<td id="damage">
    @using (Html.BeginForm("AlterHealth", "ActiveMonsters", FormMethod.Post))
    {
        @Html.Hidden("monsterId", Model.Id);
        @Html.TextBox("health")
        <input type="submit" value="Save" class="btn btn-default" />
    }
</td>
@section scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script> 
        $(document).ready(function () { 
            $('#damage@(Model.Id)').click(function () {

                var damage = $('input#Damage@(Model.Id)').val();
                var url = "@Html.Raw(Url.Action("AlterHealth", "ActiveMonsters", new { id = Model.Id, health = "sempar" }))";
                url = url.replace("sempar", damage);

                $('#monsterPartial@(Model.Id)').load(url); 
            }); 
        }); 
    </script> 
}
