@using System.Web.UI.WebControls.Expressions
@model IEnumerable<MonsterMVC.Domain.Data.MonsterDataModel>


@using (Html.BeginForm("SearchMonsters", "MonsterDataModels", FormMethod.Get))
{
    <b>Search By Name</b>
    @Html.TextBox("search")<input id="search" class="searchSubmit" type="button" value="Search" />
}
@using (Html.BeginForm("SearchMonstersCr", "MonsterDataModels", FormMethod.Get))
{
    <b>Search By Experience</b>
    <br />
    @Html.TextBox("searchCr")<input class="searchSubmit1" type="button" value="Search" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChallengeRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChallengeRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlId)
            </td>
            <td>
                @using (Html.BeginForm("CreateFromSearch", "ActiveMonsters", FormMethod.Post))
                {
                    
                    @Html.Hidden("encounterId", 1);
                    @Html.Hidden("monsterId", item.Id);
                    <input type="submit" value="Add To Encounter" class="btn btn-default" />
                }
            </td>
        </tr>
    }

</table>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script>
    document.getElementById("searchCr").onkeypress = function(e) {
        var key = e.charCode || e.keyCode || 0;     
        if (key == 13) {
            e.preventDefault();
        }
    }
    document.getElementById("search").onkeypress = function (e) {
        var key = e.charCode || e.keyCode || 0;
        if (key == 13) {
            e.preventDefault();
        }
    }
    $(document).ready(function () {
         $('.searchSubmit').click(function () {

             var searchBy = $('#searchBy').val();
            var search = $('input#search').val();

             var url = "@Html.Raw(Url.Action("SearchMonsters", "MonsterDataModels", new { searchBy = "-parameter", search = "sempar" }))";

             url = url.replace("-parameter", searchBy);

             url = url.replace("sempar", search);

             $('#partial').load(url);
         });
     });
</script>


<script>
    $(document).ready(function () {
        $('.searchSubmit1').click(function () {

            var searchBy = $('#searchBy').val();
            var search = $('input#searchCr').val();

            var url = "@Html.Raw(Url.Action("SearchMonstersCr", "MonsterDataModels", new { searchBy = "-parameter", search = "sempar" }))";

            url = url.replace("-parameter", searchBy);

            url = url.replace("sempar", search);

            $('#partial').load(url);
        });
    });
</script>

